*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-template-rows: repeat(5,1fr);
    grid-template-columns: repeat(4,1fr);
    padding: 20px;
    background-color: lightpink;
    height: 100vh;
}
.item{
    background-color: lightblue;
    border: 2px solid black;
}
.item1{
    grid-column-start: 1;
    grid-column-end: 3;
}
.item2{
    grid-column-start: 3;
    grid-column-end: 5;
}
.item3{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 6;
}
.item4{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
    border: 10px solid green;
}
.item5,.item6{
    grid-row-start: 4;
    grid-row-end: 6;
    border: 10px solid green;
}